<mat-form-field>
    <mat-label>Invoice ID</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.task.invoiceID" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Name</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.task.jobName" />
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="edit()">Edit</button>
    <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.task, delete: true }">
    <mat-icon>delete</mat-icon>
    </button>
  </div>  