<br>
<div class="Contact">
  <table class="Contact" [cellSpacing]="0">
    <tr>
      <td><input type="text" id="invoiceID" #name="ngModel" name="invoiceID" [(ngModel)]="workOrderModel.invoiceID"
          style="width: 100%; box-sizing: border-box;" placeholder="Invoice ID (number)"></td>

      <td><input type="text" id="phone" #name="ngModel" name="phone" [(ngModel)]="workOrderModel.phone"
          style="width: 100%; box-sizing: border-box;" placeholder="Phone #"></td>
    </tr>
    <tr>
      <td style="height: 100%;">
        <mat-form-field appearance="fill" style="width: 100%; text-align: center;">
          <mat-label>Starting Date</mat-label>
          <input matInput [matDatepicker]="startPicker" id="startingDate" #name="ngModel" name="startingDate"
            [(ngModel)]="workOrderModel.startingDate" style="width: 100%;">
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" style="width: 100%; text-align: center;">
          <mat-label>Date of Order</mat-label>
          <input matInput [matDatepicker]="datePicker" id="date" #name="ngModel" name="date"
            [(ngModel)]="workOrderModel.date" style="width: 100%">
          <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td><input type="text" id="orderNum" #name="ngModel" name="orderNum" [(ngModel)]="workOrderModel.orderNum"
          style="width: 100%; box-sizing: border-box;" placeholder="Order #"></td>
      <td><input type="text" id="takenBy" #name="ngModel" name="takenBy" [(ngModel)]="workOrderModel.takenBy"
          style="width: 100%; box-sizing: border-box;" placeholder="Taken By"></td>
    </tr>
    <tr class="checkBoxes">
      <td colspan="2">
        <input type="checkbox" id="dayWorkBol" #name="ngModel" name="dayWorkBol"
          [(ngModel)]="workOrderModel.dayWorkBol">
        <label for="dayWorkBol"> Day Work</label>
        <input type="checkbox" id="contractBol" #name="ngModel" name="contractBol"
          [(ngModel)]="workOrderModel.contractBol">
        <label for="contractBol"> Contract</label>
        <input type="checkbox" id="extraBol" #name="ngModel" name="extraBol" [(ngModel)]="workOrderModel.extraBol">
        <label for="extraBol"> Extra</label>
      </td>
    </tr>
    <tr>
      <td><input type="text" id="jobName" #name="ngModel" name="jobName" [(ngModel)]="workOrderModel.jobName"
          style="width: 100%; box-sizing: border-box;" placeholder="Job Name/#"></td>
      <td><input type="text" id="jobLocation" #name="ngModel" name="jobLocation"
          [(ngModel)]="workOrderModel.jobLocation" style="width: 100%; box-sizing: border-box;"
          placeholder="Job Location"></td>
    </tr>
    <tr>
      <td><input type="text" id="jobPhone" #name="ngModel" name="jobPhone" [(ngModel)]="workOrderModel.jobPhone"
          style="width: 100%; box-sizing: border-box;" placeholder="Job Phone #"></td>
      <td><input type="text" id="jobTo" #name="ngModel" name="jobTo" [(ngModel)]="workOrderModel.jobTo"
          style="width: 100%" style="width: 100%; box-sizing: border-box;" placeholder="To"></td>
    </tr>
  </table>
</div>
<br />
<table class="t1">
  <tr>
    <th width="100px;">Quantity</th>
    <th width="100px;">Description</th>
    <th width="100px;">Price</th>
    <th width="100px;">Amount</th>
  </tr>
  <tr *ngFor="let rowID of this.workOrderModel.materialIDs">
    <td>
      <input type="number" [(ngModel)]="workOrderModel.materialQuantities[rowID]" />
    </td>

    <td>
      <input type="text" [(ngModel)]="workOrderModel.materialDescriptions[rowID]" />
    </td>

    <td>
      <input type="number" [(ngModel)]="workOrderModel.materialPrices[rowID]" />
    </td>

    <td>
      <input type="number" [(ngModel)]="workOrderModel.materialAmounts[rowID]" />
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <input size="7" type="number" id="totalMaterials" #name="ngModel" name="totalMaterials"
        style="width: 100%; text-align: center; box-sizing: border-box; font-size: large;" placeholder="Total"
        [(ngModel)]="workOrderModel.totalMaterials">
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <mat-form-field appearance="fill" style="width: 100%; text-align: center;">
        <mat-label>Date Completed</mat-label>
        <input matInput [matDatepicker]="endPicker" iid="dateCompleted" #name="ngModel" name="dateCompleted"
          [(ngModel)]="workOrderModel.dateCompleted">
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field><br>
    </td>
    <td colspan="2">
      <input type="text" id="jobDescription" #name="ngModel" name="jobDescription"
        style="width: 100%; text-align: center; font-size: large; box-sizing: border-box;"
        placeholder="Description of Work" [(ngModel)]="workOrderModel.jobDescription">
      <br>
    </td>
  </tr>
</table>
<br />
<button class="addRow" (click)="addMaterial()">Add Row</button><br>
<br />
<table class="t2">
  <tr>
    <th width="100px;">Description</th>
    <th width="100px;">Price</th>
  </tr>
  <tr *ngFor="let rowID of this.workOrderModel.otherIDs">
    <td>
      <input type="text" [(ngModel)]="workOrderModel.otherDescriptions[rowID]" />
    </td>
    <td>
      <input type="number" [(ngModel)]="workOrderModel.otherPrices[rowID]" />
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input size="7" type="number" id="totalOther" #name="ngModel" name="totalOther"
        style="width: 100%; text-align: center; box-sizing: border-box; font-size: large;" placeholder="Total Other"
        [(ngModel)]="workOrderModel.totalOther">
    </td>
  </tr>
</table>
<br>
<button class="addRow" (click)="addOther()">Add Row</button><br>
<br>

<table class="t3">
  <tr>
    <th width="100px;">Description</th>
    <th width="100px;">Hours</th>
    <th width="100px;">Rate</th>
    <th width="100px;">Amount</th>
  </tr>
  <tr *ngFor="let rowID of this.workOrderModel.laborIDs">
    <td>
      <input type="text" [(ngModel)]="workOrderModel.laborDescriptions[rowID]" />
    </td>
    <td>
      <input type="number" [(ngModel)]="workOrderModel.laborHrs[rowID]" />
    </td>
    <td>
      <input type="number" [(ngModel)]="workOrderModel.laborRates[rowID]" />
    </td>
    <td>
      <input type="number" [(ngModel)]="workOrderModel.laborAmounts[rowID]" />
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <input size="7" type="number" id="totalLabor" #name="ngModel" name="totalLabor"
        style="width: 100%; text-align: center; box-sizing: border-box; font-size: large;" placeholder="Total Labor"
        [(ngModel)]="workOrderModel.totalLabor">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <input size="7" type="number" id="totalMaterials" #name="ngModel" name="totalMaterials"
        style="width: 100%; text-align: center; box-sizing: border-box; font-size: large;" placeholder="Total Materials"
        [(ngModel)]="workOrderModel.totalMaterials">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <input size="7" type="number" id="totalOther" #name="ngModel" name="totalOther"
        style="width: 100%; text-align: center; box-sizing: border-box; font-size: large;" placeholder="Total Other"
        [(ngModel)]="workOrderModel.totalOther">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <input size="7" type="number" id="tax" #name="ngModel" name="tax"
        style="width: 100%; text-align: center; box-sizing: border-box; font-size: large;" placeholder="Tax"
        [(ngModel)]="workOrderModel.tax">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <input size="7" type="number" id="total" #name="ngModel" name="total"
        style="width: 100%; text-align: center; box-sizing: border-box; font-size: large;" placeholder="Total"
        [(ngModel)]="workOrderModel.total">
    </td>
  </tr>
</table>
<br>
<button class="addRow" (click)="addLabor()">Add Row</button>
<br>
<button class="save" (click)="onSave(workOrderModel)">Save</button>
<!-- <hr/> -->
<!-- <b>Current value of array</b>
<pre>{{this.workOrderModel | json}}</pre> -->
