<form #addItemForm="ngForm">
    <label for="fname">InvoiceID:</label><br>
    <input type="text" id="invoiceID" 
    #name="ngModel"
    name="invoiceID"
    [(ngModel)]="workOrderModel.invoiceID"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label>

    <button (click)="onSave()">Save</button>
</form> 