<br>
<div class="Contact">
  <table class="Contact" [cellSpacing]="0">
    <tr>
      <td><input type="text" id="invoiceID"
          #name="ngModel" name="invoiceID"
          [(ngModel)]="workOrderModel.invoiceID"
          style="width: 100%; box-sizing: border-box;"
          placeholder="Invoice ID (number)"></td>

      <td><input type="text" id="phone"
          #name="ngModel" name="phone"
          [(ngModel)]="workOrderModel.phone"
          style="width: 100%; box-sizing: border-box;"
          placeholder="Phone #"></td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="fill" hintLabel="MM/DD/YYYY">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="startPicker" id="startingDate"
            #name="ngModel" name="startingDate"
            [(ngModel)]="workOrderModel.startingDate"
            style="width: 100%">
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field></td>
      <td>
        <mat-form-field appearance="fill" hintLabel="MM/DD/YYYY">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="datePicker" id="date"
            #name="ngModel" name="date"
            [(ngModel)]="workOrderModel.date"
            style="width: 100%">
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td><input type="text" id="orderNum"
        #name="ngModel" name="orderNum"
        [(ngModel)]="workOrderModel.orderNum"
        style="width: 100%; box-sizing: border-box;"
        placeholder="Order #"></td>
      <td><input type="text" id="takenBy"
        #name="ngModel" name="takenBy"
        [(ngModel)]="workOrderModel.takenBy"
        style="width: 100%; box-sizing: border-box;"
        placeholder="Taken By"></td>
    </tr>
    <tr class="checkBoxes">
      <td colspan="2">
      <input type="checkbox" id="dayWorkBol"
        #name="ngModel" name="dayWorkBol"
        [(ngModel)]="workOrderModel.dayWorkBol">
        <label for="dayWorkBol"> Day Work</label>
      <input type="checkbox" id="contractBol"
        #name="ngModel" name="contractBol"
        [(ngModel)]="workOrderModel.contractBol">
        <label for="contractBol"> Contract</label>
      <input type="checkbox" id="extraBol"
        #name="ngModel" name="extraBol"
        [(ngModel)]="workOrderModel.extraBol">
        <label for="extraBol"> Extra</label>
      </td>
    </tr>
    <tr>
      <td><input type="text" id="jobName"
        #name="ngModel" name="jobName"
        [(ngModel)]="workOrderModel.jobName"
        style="width: 100%; box-sizing: border-box;"
        placeholder="Job Name/#"></td>
      <td><input type="text" id="jobLocation"
        #name="ngModel" name="jobLocation"
        [(ngModel)]="workOrderModel.jobLocation"
        style="width: 100%; box-sizing: border-box;"
        placeholder="Job Location"></td>
    </tr>
    <tr>
      <td><input type="text" id="jobPhone"
        #name="ngModel" name="jobPhone"
        [(ngModel)]="workOrderModel.jobPhone"
        style="width: 100%; box-sizing: border-box;"
        placeholder="Job Phone #"></td>
      <td><input type="text" id="jobTo"
        #name="ngModel" name="jobTo"
        [(ngModel)]="workOrderModel.jobTo"
        style="width: 100%"
        style="width: 100%; box-sizing: border-box;"
        placeholder="To"></td>
    </tr>
  </table>
</div>
<br/>
<table class="t1">
    <tr>
    <th width="100px;">Quantity</th>
    <th width="100px;">Description</th>
    <th width="100px;">Price</th>
    <th width="100px;">Amount</th>
    </tr>
    <tr *ngFor="let rowID of this.workOrderModel.materialIDs" >
        <td *ngIf="rowID === editRowId">
            <input type="number" [(ngModel)]="workOrderModel.materialQuantities[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.materialQuantities[rowID]}}
        </td>
        <td *ngIf="rowID === editRowId">
            <input type="text" [(ngModel)]="workOrderModel.materialDescriptions[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.materialDescriptions[rowID]}}
        </td>
        <td *ngIf="rowID === editRowId">
            <input type="number" [(ngModel)]="workOrderModel.materialPrices[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.materialPrices[rowID]}}
        </td>
        <td *ngIf="rowID === editRowId">
            <input type="number" [(ngModel)]="workOrderModel.materialAmounts[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.materialAmounts[rowID]}}
        </td>
        <td>
            <button #rowID (click)="toggle(rowID)">Edit</button>
        </td>
    </tr>
    <tr>
        <td>
            <!-- <label for="dateCompleted"> Date Completed: </label>
            <mat-form-field appearance="fill" hintLabel="MM/DD/YYYY">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="endPicker" iid="dateCompleted"
                    #name="ngModel" name="dateCompleted"
                    [(ngModel)]="workOrderModel.dateCompleted">
                <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field><br> -->
        </td>
        <td></td>
        <td></td>
        <td>
            <label for="totalMaterials"> Total: </label>
            <input size="7" type="number" id="totalMaterials"
                #name="ngModel" name="totalMaterials"
                [(ngModel)]="workOrderModel.totalMaterials">
        </td>
    </tr>
</table>
<button (click)="addMaterial()">Add Material</button><br>

<label for="jobDescription"> Description of Work: </label>
<input type="text" id="jobDescription"
    #name="ngModel" name="jobDescription"
    [(ngModel)]="workOrderModel.jobDescription"><br>

<table class="t2">
    <tr>
    <th width="100px;">Description</th>
    <th width="100px;">Price</th>
    </tr>
    <tr *ngFor="let rowID of this.workOrderModel.otherIDs" >
            <td *ngIf="rowID === editRowId">
                <input type="text" [(ngModel)]="workOrderModel.otherDescriptions[rowID]" />
            </td>
            <td *ngIf="rowID !== editRowId">
                {{workOrderModel.otherDescriptions[rowID]}}
            </td>
            <td *ngIf="rowID === editRowId">
                <input type="number" [(ngModel)]="workOrderModel.otherPrices[rowID]" />
            </td>
            <td *ngIf="rowID !== editRowId">
                {{workOrderModel.otherPrices[rowID]}}
            </td>
            <td>
                <button #rowID (click)="toggle(rowID)">Edit</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <label for="totalOther"> Total Other: </label>
                <input size="7" type="number" id="totalOther"
                    #name="ngModel" name="totalOther"
                    [(ngModel)]="workOrderModel.totalOther">
            </td>
        </tr>
</table>
<button (click)="addOther()">Add Other</button><br>

<table class="t3">
    <tr>
    <th width="100px;">Description</th>
    <th width="100px;">Hours</th>
    <th width="100px;">Rate</th>
    <th width="100px;">Amount</th>
    </tr>
    <tr *ngFor="let rowID of this.workOrderModel.laborIDs" >
        <td *ngIf="rowID === editRowId">
            <input type="text" [(ngModel)]="workOrderModel.laborDescriptions[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.laborDescriptions[rowID]}}
        </td>
        <td *ngIf="rowID === editRowId">
            <input type="number" [(ngModel)]="workOrderModel.laborHrs[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.laborHrs[rowID]}}
        </td>
        <td *ngIf="rowID === editRowId">
            <input type="number" [(ngModel)]="workOrderModel.laborRates[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.laborRates[rowID]}}
        </td>
        <td *ngIf="rowID === editRowId">
            <input type="number" [(ngModel)]="workOrderModel.laborAmounts[rowID]" />
        </td>
        <td *ngIf="rowID !== editRowId">
            {{workOrderModel.laborAmounts[rowID]}}
        </td>
        <td>
            <button #rowID (click)="toggle(rowID)">Edit</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <label for="totalLabor"> Total Labor: </label>
            <input size="7" type="number" id="totalLabor"
                #name="ngModel" name="totalLabor"
                [(ngModel)]="workOrderModel.totalLabor">
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <label for="totalMaterials"> Total Materials: </label>
            <input size="7" type="number" id="totalMaterials"
                #name="ngModel" name="totalMaterials"
                [(ngModel)]="workOrderModel.totalMaterials">
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <label for="totalOther"> Total Other: </label>
            <input size="7" type="number" id="totalOther"
                #name="ngModel" name="totalOther"
                [(ngModel)]="workOrderModel.totalOther">
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <label for="tax"> Tax: </label>
            <input size="7" type="number" id="tax"
                #name="ngModel" name="tax"
                [(ngModel)]="workOrderModel.tax">
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <label for="total"> Total: </label>
            <input size="7" type="number" id="total"
                #name="ngModel" name="total"
                [(ngModel)]="workOrderModel.total">
        </td>
    </tr>
</table>
<button (click)="addLabor()">Add Labor</button><br>
<button (click)="onSave()">Save</button>
<hr/>
<b>Current value of array</b>
<pre>{{this.workOrderModel | json}}</pre>
